:root {
    --primary-color: #006400;     /* Deep Islamic Green */
    --secondary-color: #002147;   /* Rich Ottoman Blue */
    --gold: #c7a008;              /* Softer Traditional Gold */
    --cream: #f5f0e1;             /* Subtle Islamic Off-white */
    --dark: #121212;              /* Charcoal Black for contrast */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
body{
    background-color: var(--cream);
    color: var(--dark);
}

nav{
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav .logo{
    font-size: 24px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
 nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.4s ease;
    padding: 5px 10px;
    border-radius: 10px;
 }

 nav ul li a:hover{
    color: var(--gold);
    background-color: var(--secondary-color);
    
 }

 .banner{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color:white;
    text-align: center;
    padding: 100px 20px;

}

.banner h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.banner p{
    font-size: 24px;
   
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding:50px 20px;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 300px;
}
.card .icon {
    font-size: 40px;
    margin-bottom: 15px;
}
.card h3{
    font-size: 24px;
    margin-bottom: 10px;
    color:var(--primary-color)
}
.about{
    background-color: var(--cream);
    padding:50px 20px;
    text-align: center;
    color: var(--dark);
}
.about p{
    max-width: 700px;
    margin: 0 auto;
    font-size: 24px;
}
.about h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
}